
/* ––––––––––––––––––––––––MODAL–––––––––––––––––––––––––– */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font: 16px/1.5 sans-serif;
    z-index: 1100;
  }
  
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-dialog {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    overflow: auto;
    cursor: default;
  }
  
  .modal-dialog .modal-content {
    display: flex;
  }
  
  .modal-dialog .modal-content > * {
    flex: 1;
  }
  
  .modal-dialog .modal-content img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: white;
  }
  
  .modal-dialog .modal-content .text {
    display: grid;
    padding: 40px;
  }
  
  .modal-dialog .modal-content .text *:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .modal-dialog .modal-content .text .cta {
    margin-bottom: 0;
  }
  
  .modal-dialog .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    font-size: xx-large;
    color: white;
    border: 0;
    border-radius: 50%;
    background: #4169e19c;
  }
  
  /* –––––––––––––––––––––––––ANIMATIONS––––––––––––––––––––––––– */
  [data-animation] .modal-dialog {
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
  
  [data-animation].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  [data-animation="slideInOutDown"] .modal-dialog {
    transform: translateY(100%);
  }
  
  [data-animation="slideInOutTop"] .modal-dialog {
    transform: translateY(-100%);
  }
  
  [data-animation="slideInOutLeft"] .modal-dialog {
    transform: translateX(-100%);
  }
  
  [data-animation="slideInOutRight"] .modal-dialog {
    transform: translateX(100%);
  }
  
  [data-animation="zoomInOut"] .modal-dialog {
    transform: scale(0.2);
  }
  
  [data-animation="rotateInOutDown"] .modal-dialog {
    transform-origin: top left;
    transform: rotate(-1turn);
  }
  
  [data-animation="mixInAnimations"].is-visible .modal-dialog {
    animation: mixInAnimations 2s 0.2s linear forwards;
  }
  
  [data-animation="slideInOutDown"].is-visible .modal-dialog,
  [data-animation="slideInOutTop"].is-visible .modal-dialog,
  [data-animation="slideInOutLeft"].is-visible .modal-dialog,
  [data-animation="slideInOutRight"].is-visible .modal-dialog,
  [data-animation="zoomInOut"].is-visible .modal-dialog,
  [data-animation="rotateInOutDown"].is-visible .modal-dialog {
    transform: none;
  }
  
  @keyframes mixInAnimations {
    0% {
      transform: translateX(-100%);
    }
  
    10% {
      transform: translateX(0);
    }
  
    20% {
      transform: rotate(20deg);
    }
  
    30% {
      transform: rotate(-20deg);
    }
  
    40% {
      transform: rotate(15deg);
    }
  
    50% {
      transform: rotate(-15deg);
    }
  
    60% {
      transform: rotate(10deg);
    }
  
    70% {
      transform: rotate(-10deg);
    }
  
    80% {
      transform: rotate(5deg);
    }
  
    90% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  /* ––––––––––––––––––––––MQ–––––––––––––––––––––––––––– */
  @media (max-width: 850px) {
    .modal-dialog .modal-content {
      flex-direction: column;
    }
  }
  
  
  /* For mobile (below 850px width) */
  @media (max-width: 850px) {
    figure div{
        position: inherit;
        text-align: inherit;
        width: inherit;
        font-weight: inherit;
        font-size: inherit;
        padding-top: inherit;
      }
      figure h2 {
        margin-top: 15px;
        margin-left: 38px;
      }
      .modal-dialog .close-modal {
        width: 36px;
        height: 36px;
        top: 1.5rem;
      }
  
  }
  
  /* For desktop and tablet (above 850px width) */
  @media (min-width: 851px) {
      figure div{
      position: absolute;
      text-align: center;
      width: 50%;
      font-weight: 700;
      font-size: 2.5rem;
      padding-top: 40px;
      }
      figure h2 {
      margin-top: 15px;
      margin-left: 3px;
      }
      .text{
      height: 100vh;
      overflow: scroll;
      }
  }